// VARIABLES

// media queries breakers
$break-x-small: "screen and (min-width: 576px)";
$break-small: "screen and (min-width: 768px)";
$break-medium: "screen and (min-width: 992px)";
$break-large: "screen and (min-width: 1200px)";
$break-x-large: "screen and (min-width: 1920px)";

//baseline
$baseline: 6px;

// colors
$black: #222;
$grey: #ccc;
$light-grey: #f0f0f0;
$white: #fff;

// background
.background {
  &__light-grey {
    background-color: $light-grey;
  }
}

// RESET
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding: 0;
}

// header
.header {
  @media #{$break-medium} {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }

  &__container {
    background-color: #FFF;
    padding: $baseline * 4 $baseline * 2;
    @media #{$break-medium} {
      padding: $baseline * 4 0;
    }
    @media #{$break-large} {
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
      padding: $baseline * 4;
    }
  }
}

.bg {
  background: url(./images/bg.jpg) top center no-repeat;

  @media #{$break-medium} {
    height: 630px;
  }
}


// Product
.product {
  height: 100%;
  border: $baseline solid $light-grey;
  text-align: center;
  padding: $baseline * 3;
  padding-bottom: $baseline * 9;
  padding-top: 0;
  background-color: $white;
  position: relative;

  &__wrap-img {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-height: 300px;
  }

  &__name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }

  &__caption {
    margin-top: $baseline * 4;
  }

  &__price--sale {
    text-decoration: line-through;
    color: $grey;
  }

  &__ribbon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
  }

  &__ribbon-text {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    letter-spacing: 2px;
    background: $black;
    position: absolute;
    top: 19px; right: -21px;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }

  &__button {
    display: block;
    width: 50%;
    background-color: $white;
    border-top: 1px solid $grey;
    padding: $baseline * 2 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $baseline * 1.5;
    text-align: center;
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &--buy {
      letter-spacing: 2px;
      font-size: $baseline * 1.7;
      background-color: $black;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }

}


//loader
.loader {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: $baseline * 2;
    text-transform: uppercase;
    letter-spacing: $baseline / 2;
    margin: $baseline * 3 0 0 0;
    text-align: center;
  }
}


//filters
.filter {
  margin: 0 $baseline * 2;
  margin-top: $baseline * 4;
  background-color: $white;

  &:first-child {
    margin-top: $baseline * 1.5;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $baseline * 2.5;
    border-bottom: 1px solid $grey;
    padding: $baseline * 2;
    margin-bottom: $baseline * 3;
  }

  &__button {
    display: inline-block;
    padding: $baseline $baseline * 2;
    border: 1px solid $grey;
    margin: $baseline auto;
    cursor: pointer;
  }

  &__color-wrap {
    display: flex;
  }

  &__color {
    margin-left: $baseline * 1.8;
    margin-bottom: $baseline;
    cursor: pointer;
    display: inline-block;
    width: $baseline * 6;
    height: $baseline * 6;
    border: 1px solid #DDD;
    position: relative;

    &--active:before {
      content: '';
      display: block;
      width: $baseline * 1.25;
      height: $baseline * 2.5;
      border: solid #fff;
      border-width: 0 4px 4px 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%) rotate(45deg);
    }

    &--active:after {
      content: '';
      display: block;
      width: $baseline;
      height: $baseline * 2;
      border: solid #000;
      border-width: 0 2px 2px 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%) rotate(45deg);
    }

    &--Brown {
      background-color: #8c6b44;
    }
    &--Yellow {
      background-color: #fdfe83;
    }
    &--Orange {
      background-color: #ef9742;
    }
    &--Red {
      background-color: #fb5e53;
    }
    &--Blue {
      background-color: #56bff6;
    }
    &--Gold {
      background-image: linear-gradient(to top right, #a83, #f8dfa2);
    }
    &--Purple {
      background-color: #9e62a7;
    }
    &--Green {
      background-color: #62c978;
    }
    &--Gray {
      background-color: #999;
    }
    &--White {
      background-color: #FFF;
    }
    &--Black {
      background-color: #000;
    }
    &--Pink {
      background-color: #ebd0d5;
    }
    &--Silver {
      background-image: linear-gradient(to top right, #606060, #dadada);
    }
    &--Beige {
      background-color: #c5b8a0;
    }
  }

  &__color-wrap {}
}
